<template name="layout">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'index'}}">SmartPlaces</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Возможности</a></li>
                    <li class="active"><a href="#">Настройки</a></li>
                    <li><a href="#">Аналитика</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">{{loginButtons}}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <ul class="nav nav-tabs">
            <li><a href="{{pathFor 'locations'}}">Места</a></li>
            <li><a href="{{pathFor 'beacons'}}">Маячки</a></li>
            <li><a href="{{pathFor 'messages'}}">Сообщения</a></li>
            <li><a href="{{pathFor 'scenarios'}}">Сценарии</a></li>
        </ul>

        {{yield}}

    </div>

</template>
