<template name="tabs">
  <ul class="nav nav-tabs">
      <li class="{{isActive 'locations'}}"><a href="{{pathFor 'locations'}}">Места</a></li>
      <li class="{{isActive 'beacons'}}"><a href="{{pathFor 'beacons'}}">Маячки</a></li>
      <li class="{{isActive 'messages'}}"><a href="{{pathFor 'messages'}}">Сообщения</a></li>
      <li class="{{isActive 'coupons'}}"><a href="{{pathFor 'coupons'}}">Купоны</a></li>
      <li class="{{isActive 'scenarios'}}"><a href="{{pathFor 'scenarios'}}">Сценарии</a></li>
  </ul>
</template>
