<template name="scenarioPage">
    <form role="form">
        <div class="modal" style="position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block;overflow-y:auto;">
            <div class="modal-dialog modal-lg" style="left:auto;margin-left:auto;margin-right:auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{#if isNewScenario}}Добавление сценария{{else}}Редактирование сценария{{/if}} <a href="{{pathFor 'scenarios'}}" class="pull-right">&times;</a></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert {{alertClass}}" role="alert">{{alertMessage}}</div> 
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group {{inputRequired 'scenario.name'}}" id="nameGroup">
                                    <label for="name">Имя сценария</label>
                                    <input class="form-control" id="name" placeholder="Имя сценария" value="{{name}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="activeGroup">
                                    <label for="active">Активный сценарий</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" {{isChecked}} id="active"> Да
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <legend><h4>Условие сценария</h4></legend>
                                <div class="form-group">
                                    <label for="event">Посетитель</label>
                                    <select class="form-control" id="event" placeholder="подходит/отходит">
                                        {{#each events}}
                                        <option value="{{this.code}}">{{this.label}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="event">на расстояние</label>
                                    <select class="form-control" id="proximity" placeholder="расстояние до маяка">
                                        {{#each proximities}}
                                        <option value="{{this.code}}">{{this.label}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group {{inputRequired 'scenario.beacons'}}">
                                    <label for="beacons">к следующим маячкам</label>
                                    <select class="form-control" id="beacons" multiple="true" placeholder="Теги маячков">
                                        {{#each tags}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <legend><h4>Действие</h4></legend>
                                <div class="form-group">
                                    <label for="message">Сообщение для посетителей</label>
                                    <div class="form-group">
                                        <select class="form-control" id="message" placeholder="Ваше сообщение для посетителей">
                                        {{#each messages}}
                                        <option value="{{_id}}">{{header}}</option>
                                        {{/each}}
                                        </select>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Добавить в сообщение купон</label>
                                    <div class="form-group">
                                        <select class="form-control" id="coupon" placeholder="Купон">
                                            <option></option>
                                            {{#each coupons}}
                                            <option value="{{_id}}">{{logoText}} : {{primaryFieldValue}} {{primaryFieldLabel}}</option>
                                            {{/each}}
                                        </select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="collapse" data-target="#editScenarioParams"><legend><h4>Дополнительные параметры <span class="caret"></span></h4></legend></a>
                        <div id="editScenarioParams" class="collapse">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start">Дата старта</label>
                                        <div class="input-group date" id="start_dp">
                                            <input type="text" class="form-control" id="start" placeholder="Дата старта" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <span class="help-block">Если пусто, то дата старта не ограничена.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end">Дата завершения</label>
                                        <div class="input-group date" id="end_dp">
                                            <input type="text" class="form-control" id="end" placeholder="Дата завершения" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <span class="help-block">Если пусто, то дата завершения не ограничена.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="frequency">Минимум минут между повторениями</label>
                                        <select class="form-control" id="frequency" placeholder="Минимальная частота повторений">
                                            <option></option>
                                            {{#each frequencies}}
                                            <option value="{{this.code}}">{{this.label}}</option>
                                            {{/each}}
                                        </select>
                                        <span class="help-block">Если пусто, то частота не ограничена.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="well well-sm" style="margin-bottom: 0px;">
                            <p class="list-group-item-text">Если посетитель <span class="label label-default">{{label 'event'}}</span> на расстояние <span class="label label-default">{{label 'proximity'}}</span> к маячку с тегом {{#each beacons}}<span class="label label-default">{{this}}</span>{{/each}}, тогда показать сообщение <span class="label label-default">{{messageInfo}}</span>{{#if hasCoupon}} и отправить купон <span class="label label-default">{{couponInfo}}</span>{{/if}}.</p>
            <p class="list-group-item-text">Сценарий активен: {{isActive}}. {{#if frequency}} Повторять с частотой {{label 'frequency'}}. {{/if}} Период действия сценария: {{period}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-toolbar" role="toolbar">
                            <a href="{{pathFor 'scenarios'}}" class="btn btn-default">Отмена</a>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</button>
                            {{#unless isNewScenario}}
                            <a href="#" class="btn btn-danger" id="delete"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
