<template name="scenariosList">
    <h2 class="sub-header">Scenarios</h2>
    <div class="pull-right"><a href="{{pathFor 'newscenario'}}" class="btn btn-danger" role="button">+Add</a></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Beacons</th>
                    <th>Proximity</th>
                    <th>Event</th>
                    <th>Frequency</th>
                    <th>Period</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each scenarios}}
                <tr>
                    <td></td>
                    <td>{{name}}</td>
                    <td>{{messageInfo}}</td>
                    <td>
                        {{#each beacons}}
                        <span class="label label-default">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each proximity}}
                            <span class="label label-default">{{label 'proximity'}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each event}}
                            <span class="label label-default">{{label 'event'}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{label 'frequency'}}
                    </td>
                    <td>{{formatDate 'start'}} - {{formatDate 'end'}}</td>
                    <td>{{isActive}}</td>
                    <td><a href="{{pathFor 'scenario'}}" class="btn btn-primary" role="button">Edit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
