<template name="scenariosList">
    {{>tabs}}

    <div class="bs-callout bs-callout-info"><h4>Создайте сценарии реакции на маячки</h4><p>Для редактирования или удаления сценария, нажмите на него в списке.</p></div>

    <p><a class="btn btn-primary" href="{{pathFor 'newscenario'}}" role="button"><span class="glyphicon glyphicon-plus"></span> Добавить сценарий</a></p>

    <div class="list-group">
        {{#each scenarios}}
        <a href="{{pathFor 'scenario'}}" class="list-group-item">
            <span class="scenario-item-remove glyphicon glyphicon-remove pull-right text-danger" id="{{_id}}"></span>
            <h4 class="list-group-item-heading">{{name}}</h4>
            <p class="list-group-item-text">Если посетитель <span class="label label-default">{{label 'event'}}</span> на расстояние <span class="label label-default">{{label 'proximity'}}</span> к маячку с тегом {{#each beacons}}<span class="label label-default">{{this}}</span>{{/each}}, тогда показать сообщение <span class="label label-default">{{messageInfo}}</span>{{#if hasCoupon}} и отправить купон <span class="label label-default">{{couponInfo}}</span>{{/if}}.</p>
            <p class="list-group-item-text">Сценарий активен: {{isActive}}. {{#if frequency}} Повторять с частотой {{label 'frequency'}}. {{/if}} Период действия сценария: {{period}}</p>
        </a>
        {{/each}}
    </div>

</template>
