<template name="couponEditor">
    {{#with pass}}
    <div class="form-horizontal">
        <div class="form-group">
            <label for="logo" class="col-sm-3 control-label">Логотип</label>
            <div class="col-sm-9">
                <input type="file" name="logo" id="logo">
            </div>
        </div>
        <div class="form-group">
            <label for="logoText" class="col-sm-3 control-label">Заголовок</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="logoText" placeholder="Заголовок" value="{{logoText}}">
            </div>
        </div>
        <div class="form-group">
            <label for="strip" class="col-sm-3 control-label">Банер</label>
            <div class="col-sm-9">
                <input type="file" name="strip" id="strip">
            </div>
        </div>
        <div class="form-group">
            <label for="primaryFieldValue" class="col-sm-3 control-label">Текст</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="primaryFieldValue" placeholder="Купон" value="{{primaryFieldValue}}">
            </div>
        </div>
        <div class="form-group">
            <label for="primaryFieldLabel" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="primaryFieldLabel" placeholder="Описание" value="{{primaryFieldLabel}}">
            </div>
        </div>
        <div class="form-group">
            <label for="secondaryFieldLabel" class="col-sm-3 control-label">Примечание</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="secondaryFieldLabel" placeholder="Дополнительная" value="{{secondaryFieldLabel}}">
            </div>
        </div>
        <div class="form-group">
            <label for="secondaryFieldValue" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="secondaryFieldValue" placeholder="Информация" value="{{secondaryFieldValue}}">
            </div>
        </div>
        <div class="form-group">
            <label for="barcodeMessage" class="col-sm-3 control-label">Код</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="barcodeMessage" placeholder="Код" value="{{barcodeMessage}}">
            </div>
        </div>
        <div class="form-group">

            <label for="backgroundColor" class="col-sm-3 control-label">Цвет фона</label>
            <div class="col-sm-9">
                <div class="input-group backgroundColor">
                <input class="form-control" type="text" id="backgroundColor" placeholder="Цвет фона" value="{{backgroundColor}}">
                <span class="input-group-addon"><i></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="foregroundColor" class="col-sm-3 control-label">Цвет текста</label>
            <div class="col-sm-9">
                <div class="input-group foregroundColor">
                <input class="form-control" type="text" id="foregroundColor" placeholder="Цвет текста" value="{{foregroundColor}}">
                <span class="input-group-addon"><i></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="labelColor" class="col-sm-3 control-label">Цвет меток</label>
            <div class="col-sm-9">
                <div class="input-group labelColor">
                <input class="form-control" type="text" id="labelColor" placeholder="Цвет меток" value="{{labelColor}}">
                <span class="input-group-addon"><i></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Уведомления</label>
            <div class="col-sm-9">
                 <select class="form-control" id="locations" multiple="true" placeholder="Показывать в ...">
                     {{#each locations}}
                     <option value="{{_id}}">{{title}}</option>
                     {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notify">Отправить оповещения об изменении купона
                    </label>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
