<template name="couponView">
<div id="pkpass">
    <div class="pk-coupon" style="background: linear-gradient(to top, {{bgColor}} 400px, {{bgColor2}} 450px)">
        <div class="pk-header">
            <div class="pk-logo" style="background-image:url('{{logo}}')"></div>
            <div class="pk-title">
                <h1 class="pk-text" style="color:{{textColor}}">{{title}}</h1>
            </div>
            <div class="pk-header-fields">
                <span class="pk-label pk-text"></span>
                <span class="pk-value pk-text"></span>
            </div>
        </div>
        <div class="pk-strip" style="background-image:url('{{banner}}')">
            <span class="pk-value pk-text">{{coupon}}</span>
            <div></div>
            <span class="pk-label pk-text">{{description}}</span>
        </div>
        <div class="pk-secondary">
            <span class="pk-label pk-text" style="color:{{addInfoTextColor}}">{{addInfoLabel}}</span>
            <span class="pk-value pk-text" style="color:{{addInfoTextColor}}">{{addInfoValue}}</span>
        </div>
        <div class="pk-auxiliary"></div>
        <div class="pk-barcode">
            <div class="pk-barcode-image"></div>
            <div class="pk-barcode-alt pk-text">{{code}}</div>
        </div>
        <div class="">
        </div>
    </div>
</div>
</template>
