<template name="locationsList">
    <div class="bs-callout bs-callout-info"><h4>Добавьте места, где будут расположены маячки</h4><p>Для редактирования или удаления места, нажмите на него в списке или на карте.</p></div>

    <div class="row">
        <div class="col-md-4">

            <p><a class="btn btn-primary" id="add"><span class="glyphicon glyphicon-plus"></span> Добавить место</a></p>
            <div class="list-group">
                {{#each locations}}
                <a href="{{pathFor 'location'}}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{title}}</h4>
                    <p>{{address}}</p>
                    <p class="list-group-item-text">{{contacts}}</p>
                </a>
                {{/each}}
            </div>

        </div>
        <div class="col-md-8">
            {{> map}}
        </div>
    </div>

</template>
