<template name="messagesList">
    {{>tabs}}
    <div class="bs-callout bs-callout-info"><h4>Создайте сообщения, которые будут показаны по заданным сценариям</h4><p>Для редактирования или удаления сообщения, нажмите на него в списке.</p></div>

    <p><a class="btn btn-primary" href="{{pathFor 'newmessage'}}" role="button"><span class="glyphicon glyphicon-plus"></span> Добавить сообщение</a></p>

    <div class="list-group">
        {{#each messages}}
        <a href="{{pathFor 'message'}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{header}}</h4>
            <h4 class="list-group-item-heading">{{url}}</h4>
            <p class="list-group-item-text">{{description}}</p>
        </a>
        {{/each}}
    </div>

</template>
