<template name="beaconPage">
    <form role="form">
        <div class="modal" style="position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block;overflow-y:auto;">
            <div class="modal-dialog" style="left:auto;margin-left:auto;margin-right:auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{#if isNewBeacon}}Добавление{{else}}Редактирование маячка{{/if}} <a href="{{pathFor 'beacons'}}" class="pull-right">&times;</a></h4>
                    </div>
                    <div class="modal-body">
                      <div class="alert {{alertClass}}" role="alert">{{alertMessage}}</div>   
                      
                      <div class="form-group">
                          <label class="control-label" for="location">{{#if isNewBeacon}}Где расположен маячок?{{else}}Место, где расположен маячок{{/if}}</label>
                          <select class="form-control" id="location" {{disabled}}>
                              {{#each locations}}
                              <option value="{{_id}}">{{title}}</option>
                              {{/each}}
                          </select>
                      </div>
                      <div class="form-group {{inputRequired 'beacon.name'}}">
                          <label class="control-label" for="name">{{#if isNewBeacon}}Как назовёте маячок?{{else}}Имя маячка{{/if}}</label>
                          <input class="form-control" id="name" placeholder="Имя маячка" value="{{name}}">
                          {{#if isNewBeacon}}<span class="help-block">Маячок легко найти в общем списке по имени.</span>{{/if}}
                      </div>
                      <div class="form-group {{inputRequired 'beacon.tags'}}">
                          <label class="control-label" for="tags">{{#if isNewBeacon}}Какие назначите маячку теги?{{else}}Теги маячка{{/if}}</label>
                          <input class="form-control" id="tags" placeholder="Теги маячка" value={{tags}}>
                          {{#if isNewBeacon}}<span class="help-block">С помощью тегов можно создать сценарий для группы маячков.</span>{{/if}}
                      </div>
                      {{#unless isNewBeacon}}
                      <div class="form-group">
                          <label for="uuid">Идентификатор маячка</label>
                          <div class="row">
                              <div class="col-md-8">
                                  <input class="form-control" id="uuid" placeholder="UUID" value="{{uuid}}" disabled >
                              </div>
                              <div class="col-md-2">
                                  <input class="form-control" id="major" placeholder="Major" value="{{major}}" disabled >
                              </div>
                              <div class="col-md-2">
                                  <input class="form-control" id="minor" placeholder="Minor" value="{{minor}}" disabled >
                              </div>
                          </div>
                      </div>
                      {{/unless}}  
                    </div>
                    <div class="modal-footer">
                        <div class="btn-toolbar" role="toolbar">
                            <a href="{{pathFor 'beacons'}}" class="btn btn-default">Отмена</a>
                            <button type="submit" class="btn btn-primary">{{#if isNewBeacon}}<span class="glyphicon glyphicon-ok"></span> ОК{{else}}<span class="glyphicon glyphicon-floppy-disk"></span> Сохранить{{/if}}</button>
                            {{#unless isNewBeacon}}
                            <a href="#" class="btn btn-danger" id="delete"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
