<template name="beaconPage">
    <h2 class="sub-header">Beacon</h2>
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" placeholder="Enter Name" value="{{name}}">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <select class="form-control" id="location">
                {{#if location}}
                    <option value="{{location}}" selected="true">{{locationInfo}}</option>
                {{else}}
                    <option></option>
                {{/if}}
                {{#each locations}}
                <option value="{{_id}}">{{title}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="uuid">UUID</label>
            <input class="form-control" id="uuid" placeholder="Enter UUID" value="{{uuid}}">
        </div>
        <div class="form-group">
            <label for="major">Major</label>
            <input class="form-control" id="major" placeholder="Enter Major" value="{{major}}">
        </div>
        <div class="form-group">
            <label for="minor">Minor</label>
            <input class="form-control" id="minor" placeholder="Enter Major" value="{{minor}}">
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input class="form-control" id="tags" value={{tags}}>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
            <div class="btn-group">
                <a href="{{pathFor 'beacons'}}" class="btn btn-default" role="button">Cancel</a>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-danger" role="button" id="delete">Delete</a>
            </div>
        </div>
    </form>
</template>
