<template name="beaconsList">
    {{> tabs}}
    <div class="bs-callout bs-callout-info"><h4>Добавьте маячки, указывая, в каких местах они расположены</h4><p>Для редактирования или удаления маячка, нажмите на него в списке.</p></div>

    <div class="row">
        <div class="col-md-6">
            <p><a class="btn btn-primary" href="{{pathFor 'newbeacon'}}"><span class="glyphicon glyphicon-plus"></span> Добавить маячок</a></p>
        </div>
        <div class="col-md-6">
            <form role="form">
                <select class="form-control" id="locationFilter">
                    <option value="">Все места</option>
                    {{#each allLocations}}
                    <option value="{{_id}}" {{isCurrentLocation _id}}>{{title}} ({{address}})</option>
                {{/each}}
                </select>
                <span class="help-block">Можно фильтровать список маячков по месту, где они расположены</span>
            </form>
        </div>
    </div>

    <div class="list-group">
        {{#each locations}}
        {{#each beacons}}
            <a href="{{pathFor 'editbeacon'}}" class="list-group-item beacon-item">
            <span class="beacon-item-remove glyphicon glyphicon-remove pull-right text-danger" id="{{uuid}}:{{major}}:{{minor}}"></span>
            <h4 class="list-group-item-heading">{{name}}</h4>
            <p>{{../title}} ({{../address}})</p>
            <p>{{uuid}} : {{major}} : {{minor}}</p>
            <p class="list-group-item-text">
                {{#each tags}}
                <span class="label label-default">{{this}}</span>&nbsp;
                {{/each}}
            </p>
        </a>
        {{/each}}
        {{/each}}
    </div>

</template>
