<template name="beaconsList">
    <div class="bs-callout bs-callout-info"><h4>Добавьте маячки, указывая, в каких местах они расположены</h4><p>Для редактирования или удаления маячка, нажмите на него в списке.</p></div>

    <div class="row">
        <div class="col-md-6">
            <p><a class="btn btn-primary" href="{{pathFor 'newbeacon'}}"><span class="glyphicon glyphicon-plus"></span> Добавить маячок</a></p>
        </div>
        <div class="col-md-6">
            <form role="form">
                <select class="form-control">
                    <option>Все места</option>
                    <option>Место 1</option>
                    <option>Место 2</option>
                    <option>Место 3</option>
                </select>
                <span class="help-block">Можно фильтровать список маячков по месту, где они расположены</span>
            </form>
        </div>
    </div>

    <div class="list-group">
        {{#each beacons}}
        <a href="{{pathFor 'beacon'}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{name}}</h4>
            <p>{{uuid}} : {{major}} : {{minor}}</p>
            <p>{{locationInfo}}</p>
            <p class="list-group-item-text">
                {{#each tags}}
                <span class="label label-default">{{this}}</span>&nbsp;
                {{/each}}
            </p>
        </a>
        {{/each}}
    </div>

</template>
